.hh{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
}
.hp{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #4D6C5E;
}
.herotxt{
    margin-top: 100px;
}

.ill{
    width: 200px;margin-top: 100px;
}

.fl{
    display: flex;
    justify-content: space-around;
}

.hero{
    height: 50vh;
}

.prof{
    width: 120px;
    border-radius: 50%;
}
.intxt{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: 778px;
    color: #fff;
}
.fl2{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin: 0px 100px;
}
.intro{
    background-color: #34B379;
    padding: 50px 0px;
    width: 100vw;
}

.edu h1{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
}
.edu p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.edu span{
    font-weight: bold;
}
.p13{
    width: 564px;
}

.wxp h1{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
}
.wxp p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.pro h1{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
}
.pro p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.pro span{
    font-weight: bold;
}

.hob h1{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
}
.hob ol{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: left;
    margin-left: -20px;
}

.cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}

.edu, .pro{
    margin-left: 100px;
}
.wxp, .hob{
    margin-right: 100px;
}

.feats{
    background-color: #34B379;
    width: 100vw;
    margin-top: 5px;
    color: #fff;
}
.feats a{
    color: #ddd;
    text-decoration: none;
}
.feats h1{
    text-decoration: underline;
}

.icons img{
    width: 22px;
    height: 22px;
    filter: invert(27%) sepia(8%) saturate(7470%) hue-rotate(114deg) brightness(94%) contrast(76%);
}

.icons{
    display: flex;
    justify-content: space-between;
    margin: 0px 665px
}

footer > h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #1E6645;
    font-size: 32px;
}
footer p{
    font-family: 'Poppins', sans-serif;
    color: #55635D;
    text-align: center;
    font-size: 17px;
}


@media(max-width:1120px){
    .ill{
        width: 300px
    }
    .hero h1,p{
        text-align: center;
    }
    .hero{
        height: 100vh;
    }
    .fl{
        flex-direction: column;
        align-items: center;
    }
    .wxp p{
        text-align: left;
        width: auto;
    }
    .edu p{
        text-align: left;
        width: auto;
    }
    .pro p{
        text-align: left;
        width: auto;
    }
    .icons{
        margin: 0px 43%;
    }
    .prof{
        width: 120px;
        height: 120px;
    }
}

@media(max-width:730px){
    .prof{
        width: 150px;
        height:150px;
    }
    .intro p{
        width: auto;
    }
    .fl2{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .cont{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }
    .wxp, .hob, .pro, .edu{
        margin: 0px 100px;
    }
    .hero{
        height: 100vh;
    }
    .icons{
        margin: 0px 30%;
    }
}